body{
  margin: 0;
}

.emoji-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, 5em);
  gap: 15px 2px;
  align-content: start;
  justify-content: center;
}

.emoji{
  font-size: 1.6em;
  border: none;
  background: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  overflow: hidden;
  height: fit-content;
}

.category{
  margin: 25px 0 10px 25px;
  border-bottom: 2px solid #fda085;
  width: fit-content;
  font-size: 1.3em;
}

.copied{
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  font-size: 1.5em;
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  border-radius: 100px;
  padding: 10px 25px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}